{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="phone-desktop-v1-phone">Back</a>
{% endblock %}

{% block content %}

  <main class="govuk-main-wrapper">

      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-xl">Take a photo of your fit note</h1>
              <div class="govuk-grid-row">
                  <div class="govuk-grid-column-one-half">
                      <ol class="govuk-list govuk-list--number">
                          <div class="govuk-!-padding-bottom-3"></div>
                              <ul class="govuk-list govuk-list--bullet">
                                  <li>Put your fit note on a flat surface like a table.</li>
                                  <li>Make sure you're in a well lit place.</li>
                                  <li>Hold your phone above the paper, and make sure it's sideways or 'landscape'.</li>
                              </ul></li>
                      </ol>
                            <div class="govuk-!-padding-bottom-2"></div>
                            <div><p>Your photo or scan will be automatically checked to make sure it's good enough.</p>
                      <p><a href="fit-note-help-v1-phone">Get more help to get your photo right</a></p></div>
                  </div>
                      <div class="govuk-grid-column-one-half">
                          <!DOCTYPE html>
                          <style>
                              .beta {max-width: 100%}
                              .beta {max-height: auto}
                          </style>
                          <img src="/public/images/fit-note-beta-image.jpg" class="beta" alt="User icon">
                          </html>
                      </div>
              </div>

              <div class="govuk-form-group">
                  <label class="govuk-label" for="file-upload-1">
                      <h1>Choose a file to upload</h1>
                  </label>
                  <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
                  <div class="govuk-!-padding-bottom-8"></div>
                  <form class="form" action="/scanning-photo-v1-phone" method="post">
                      <button class="govuk-button" data-module="govuk-button">Continue</button></form>
              </div>

          </div>

          <div class="govuk-grid-column-one-third">
              <div class="govuk-inset-text">
                  <h2 class="govuk-heading-m">Talk to an advisor</h2>
                  <ul class="govuk-list">
                      <li>Telephone: 0800 169 0310</li>
                      <li>Textphone: 0800 169 0314</li>
                      <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
                  </ul>
                        <p class="govuk-body">
                        <a class="govuk-link" href="#">Find out about call charges</a></p>
          </div>

      </div>

  </main>

{% endblock %}
