{% extends "layout.html" %}

{% block pageTitle %}
  Error 503
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-width-container">
      <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
        <div class="govuk-grid-row">
            <h1 class="govuk-heading-l">Sorry, the service is unavailable</h1>
            <p class="govuk-body">You will be able to use the service later.</p>

            <h2 class="govuk-heading-m">Post your fit note</h2>
            <p class="govuk-body">Alternatively you can post your fit note directly to ESA using the address:</p>

            <div class="govuk-inset-text">
                <ul class="govuk-list">
                    <li>Freepost DWP</li>
                    <li>ESA 26</li>
                </ul>
            </div>

            <p class="govuk-body">You do not need a postage stamp. Make sure you keep a copy of any medical evidence for your own record.</p>


        </div>
      </main>
    </div>

    </div>

    <div class="govuk-grid-column-one-third">

      <div class="govuk-inset-text">
        <h2 class="govuk-heading-m">Talk to an advisor</h2>
        <ul class="govuk-list">
          <li>Telephone: 0800 169 0310</li>
          <li>Textphone: 0800 169 0314</li>
          <li>Monday to Friday, 8am to 6pm (except public holidays)</li>
        </ul>
      </div>

  </div>

{% endblock %}
