{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="fit-note-help-v4">Back</a>
<p class="govuk-body-m">Guide part 5 of 5</p>
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
  <!DOCTYPE html>
  <style>
    .govuk-main-wrapper {
    background-color: #005ea5;
    color: #fff;
    margin-top: 1.25em;
    margin-bottom: 2.25em;
    padding: 20px 40px 2px;
    }
  </style>
  <h1 style="color:white" class="govuk-heading-l">Make sure the photo isn't blurred</h1>
  <p style="color:white">If you're not sure how to get a clear, sharp image, check your device manual.</p>
    <style>
      .fit-note-help-5 {max-width: 100%}
      .fit-note-help-5 {max-height: auto}
    </style>
  <img src="/public/images/fit-note-help-5.png" class="fit-note-help-5" alt="User icon">
  </html>
    <div class="govuk-!-padding-bottom-5"></div>
    <h2 style="color:white" class="govuk-heading-m"><a href="beta-upload"</a>Upload your photo</h2>
  </div>
</main>

{% endblock %}
