{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="fit-note-help-v3">Back</a>
<p class="govuk-body-m">Guide part 4 of 5</p>
{% endblock %}

{% block content %}

<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
  <!DOCTYPE html>
  <style>
    .govuk-main-wrapper {
    background-color: #005ea5;
    color: #fff;
    margin-top: 1.25em;
    margin-bottom: 2.25em;
    padding: 20px 40px 2px;
    }
  </style>
  <h1 style="color:white" class="govuk-heading-l">Make sure the whole thing is in the photo</h1>
  <p style="color:white">The fit note should fill as much of the photo as possible but all 4 corners should be inside it.</p>
    <style>
      .fit-note-help-4 {max-width: 100%}
      .fit-note-help-4 {max-height: auto}
    </style>
  <img src="/public/images/fit-note-help-4.png" class="fit-note-help-4" alt="User icon">
  </html>
    <div class="govuk-!-padding-bottom-5"></div>
    <h2 style="color:white" class="govuk-heading-m"><a href="fit-note-help-v5"</a>Next</h2>
  </div>
</main>

{% endblock %}
