
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Send your fit note</h1>

                <form class="form" action="/v7a-start-prototype" method="post">
                    <button class="govuk-button" data-module="govuk-button"><b>Prototype A</b></button></form>

                  <form class="form" action="/v7b-start-prototype" method="post">
                      <button class="govuk-button" data-module="govuk-button"><b>Prototype B</b></button></form>
                </form>
            </details>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
</form>
</div>

{% endblock %}
