{% extends "layout.html" %}

{% block pageTitle %}
  Step by step navigation
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-nav.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)
  </script>
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="v10-three-options">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">How to upload your fit note</h1>

    <div class="govuk-!-padding-bottom-2"></div>

    <ol class="govuk-list govuk-list--number">

      <li>Open your email sent to you by your doctor or GP practice containing your fit note.</li>
      <div class="govuk-!-padding-bottom-3"></div>
      <li>Download the fit note which was attached from your doctor or GP practice's email.</li>
      <div class="govuk-!-padding-bottom-3"></div>
      <li>Upload your fit note. Your fit note may be saved in your device's Downloads, Recents or Saved As folder.</li>
    </ol>

    <div class="govuk-!-padding-bottom-3"></div>
      <button class="govuk-button" data-module="govuk-button">Continue</button></form>

  </div>

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-inset-text">
      <h2 class="govuk-heading-m">Talk to an advisor</h2>
      <ul class="govuk-list">
        <li>Telephone: 0800 169 0310</li>
        <li>Textphone: 0800 169 0314</li>
        <li>Monday to Friday, 8am to 6pm (except public holidays)</li>
      </ul>
    </div>
  </div>

</div>





    {% endblock %}
