{% extends "layout.html" %}

{% block pageTitle %}
Choose a file to upload - Send your fit note - GOV.UK
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-nav.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)
  </script>
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="v12-upload-email-1">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
      <li>
        <a href="#dev-error-clear-email">The selected file must be clear and readable, containing the whole fit note</a>
      </li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Choose a file to upload</h1>


    <div class="govuk-form-group govuk-form-group--error">

      <span id="dev-error-clear-email" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> The selected file must be clear and readable, containing the whole fit note
  </span>
    <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
    </div>

    <div class="govuk-!-padding-bottom-4"></div>

    <p>Your photo will go through a technical check.</p>

    <div class="govuk-!-padding-bottom-2"></div>


    <h3 class="govuk-heading-m">To successfully upload your fit note:</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>the file must be a JPG, BMP, PNG, TIF or PDF</li>
      <li>the file must be smaller than 10MB</li>
      <li>all 4 corners of the fit note must be visible within the file</li></ul>

    <div class="govuk-!-padding-bottom-1"></div>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      I am having difficulty in uploading my fit note
    </span>
      </summary>
      <div class="govuk-details__text">

        <div class="govuk-!-padding-bottom-2"></div>

        <p class="govuk-body">If you have difficulty in uploading your fit note, post your fit note to:</p>

        <div class="govuk-inset-text">
          <ul class="govuk-list">
            <li>Freepost DWP</li>
            <li>ESA 26</li>
          </ul>
        </div>

        <p class="govuk-body">You do note need a postage stamp. Make sure you keep a copy of your fit note for your own records.</p>      </div>
    </details>

    <form class="form" action="/v12-scanning-photo-email" method="post">
      <button class="govuk-button" data-module="govuk-button">Continue</button></form>

  </div>

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-inset-text">
      <h2 class="govuk-heading-m">Talk to an advisor</h2>
      <ul class="govuk-list">
        <li>Telephone: 0800 169 0310</li>
        <li>Textphone: 0800 169 0314</li>
        <li>Monday to Friday, 8am to 6pm (except public holidays)</li>
      </ul>
    </div>
  </div>

</div>





    {% endblock %}
