{% extends "layout.html" %}

{% block pageTitle %}
Is your fit note signed by your doctor - Send your fit note - GOV.UK
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="v13a-do-you-have-a-fit-note">Back</a>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" action="/v13a-does-your-fit-note-have-a-signature" method="post">
      <div class="govuk-form-group">
        <div class="govuk-form-group">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="v13a-does-your-fit-note-have-a-signature-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Is your fit note signed by your doctor?
                </h1>
              </legend>

              <div id="more-detail-hint" class="govuk-hint">
                Check that your fit note has a hand written doctor's signature.
              </div>

              <div class="govuk-!-padding-bottom-2"></div>

              <!DOCTYPE html>
              <style>
                              .signed-fit-note {max-width: 100%}
                              .signed-fit-note {max-height: auto}
        </style>
                <img src="/public/images/signed-fit-note.png" class="signed-fit-note" alt="A signed fit note">
              </html>

              <div class="govuk-!-padding-bottom-6"></div>

              <div class="govuk-radios govuk-radios--inline">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="v13a-does-your-fit-note-have-a-signature" name="v13a-does-your-fit-note-have-a-signature" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="v13a-does-your-fit-note-have-a-signature">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="v13a-does-your-fit-note-have-a-signature-2" name="v13a-does-your-fit-note-have-a-signature" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="v13a-does-your-fit-note-have-a-signature-2">
                    No
                  </label>
                </div>
              </div>

                </div>


          </fieldset>
        </div>

          <div class="govuk-!-padding-bottom-1"></div>
          <button class="govuk-button" data-module="govuk-button">Continue</button>
          </form>
        </fieldset>
      </div>

    </div>

    <div class="govuk-grid-column-one-third">

      <div class="govuk-inset-text">
        <h2 class="govuk-heading-m">Talk to an advisor</h2>
        <ul class="govuk-list">
          <li>Telephone: 0800 169 0310</li>
          <li>Textphone: 0800 169 0314</li>
          <li>Monday to Friday, 8am to 6pm (except public holidays)</li>
        </ul>
      </div>

  </div>


{% endblock %}
