{% extends "layout.html" %}

{% block pageTitle %}
Fit note submitted - Send your fit note - GOV.UK
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Fit note submitted
        </h1>
        <div class="govuk-panel__body">
          Your reference is your National Insurance number
        </div>
      </div>

      <div class="govuk-!-padding-bottom-4"></div>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        Keep your fit note safe.
      </p>
      <p class="govuk-body">
        You do not need to do anything else, or call to check on its progress. If there is a problem you will be contacted.
      </p>

      <p>It can take up to 24 hours for you to receive text confirmation of the submission of your fit note (Monday to Friday, 8am to 8pm).</p>

      <h2 class="govuk-heading-m">For repeating fit notes</h2>

      <p>You will need to keep sending us fit notes as long as you are unfit for work. We will tell you when you can stop sending them. For example, if your fit note is for 14 days, you will need to send us another one when it runs out.</p>

      <div class="govuk-!-padding-bottom-2"></div>
      <p><a href="https://www.gov.uk/done/send-fit-note">What do you think of this service?</a> (takes 30 seconds)</p>

      <p><a href="/index">Send another fit note</a></p>


      </form>

    </div>


{% endblock %}
