{% extends "layout.html" %}

{% block pageTitle %}
Checking your image - Send your fit note - GOV.UK
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<meta http-equiv="refresh" content="5;url=/v15-ni-number-paper" />

<main class="govuk-main-wrapper">
    <div class="grid-row">
        <div class="column-full">
            <h1 class="govuk-heading-m text-centre">Checking your image</h1>

            <center>
                <!DOCTYPE html>
                <style>
                              .blue-spinner {max-width: 100%}
                              .blue-spinner {max-height: auto}
        </style>
                <img src="/public/images/blue-spinner.gif" class="blue-spinner" alt="Blue spinner loading animation">
                </html>

                <div class="govuk-!-padding-bottom-3"></div>

                <p class="text-centre">This could take up to 5 minutes.</p>
            </center>

        </div>
    </div>
</main>

{% endblock %}
