{% extends "layout.html" %}

{% block pageTitle %}
Send your fit note for your ESA claim - GOV.UK
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="index">Back to Prototype Versions</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>
        <p>You will need to send your fit note as part of your application for <a href="https://www.gov.uk/employment-support-allowance">Employment and Support Allowance (ESA)</a> or new style ESA.</p>

<p>You will need:</p>

      <ul class="govuk-list govuk-list--bullet">
          <li>a phone or tablet with a camera, or a computer with a saved photo of your fit note</li>
          <li>your fit note signed by your doctor</li>
        <li>your National Insurance number</li>
      </ul>

      <p>You do not need to send a fit note if you cannot work while you are self-isolating because of coronavirus (COVID-19).</p>

      <div class="govuk-inset-text">
  This service is also available in <a href="welsh-dev-do-you-have-a-fit-note">Welsh (Cymraeg)</a>.
</div>

      <a href="v15-do-you-have-a-fit-note" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://www.gov.uk/employment-support-allowance">
                Employment and Support Allowance (ESA)
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/guidance/get-help-with-benefits-and-pensions-if-you-have-accessibility-needs">
                Get help with benefits and pensions if you have accessibility needs
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/browse/benefits/disability">
                Carers and disability benefits
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
