{% extends "layout.html" %}

{% block pageTitle %}
Only a fit note can be uploaded and processed by this service - Send your fit note - GOV.UK
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-nav.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)
  </script>
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="v15-do-you-have-a-fit-note">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Only a Statement of Fitness for work can be uploaded</h1>

    <p class="govuk-body">
      Other medical evidence can be only be sent to us by post.</p>

    <p>This includes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Medical letter</li>
      <li>Med10 (hospital certificate)</li>
      <li>MatB1 (if you are pregnant) </li>
      <li>CF73 (a form from a psychiatric hospital)</li>
    </ul>

    <p>If you want a Statement of fitness for work, you will need to get one from your GP.</p>

      <!DOCTYPE html>
      <style>

            .not-accepted {max-width: 100%}
            .not-accepted {max-height: auto}
    </style>
      

    <div class="govuk-!-padding-bottom-3"></div>

    <h1 class="govuk-heading-m">Where to send your medical evidence:</h1>

    <div class="govuk-inset-text">
    <ul class="govuk-list">
      <li>Freepost DWP</li>
      <li>ESA 26</li>
    </ul>
    </div>

    <p class="govuk-body">You do not need a postage stamp. </p>
    <p class="govuk-body">Make sure you keep a copy of any medical evidence for your own records.</p>

    <p><a href="/v13a-start">Go back to Send your fit note</a></p>

  </div>

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-inset-text">
      <h2 class="govuk-heading-m">Talk to an advisor</h2>
      <ul class="govuk-list">
        <li>Telephone: 0800 169 0310</li>
        <li>Textphone: 0800 169 0314</li>
        <li>Monday to Friday, 8am to 6pm (except public holidays)</li>
      </ul>
    </div>
  </div>

</div>





    {% endblock %}
</div>