{% extends "layout.html" %}

{% block pageTitle %}
  Start page example
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="index">Back to Prototype Versions</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <p>You’ll be told during your application for <a href="https://www.gov.uk/employment-support-allowance">Employment and Support Allowance (ESA)</a> or ‘new style’ ESA, when you need to send fit notes (sometimes called ‘sick notes’ or a ‘statement of fitness for work’).</p>

<p>You'll need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>your fit note signed by your doctor</li>
        <li>your National Insurance number</li>
        <li>a phone or tablet with a camera, or a computer with a saved photo or copy of your fit note</li>
      </ul>

      <p>You do not need to send a fit note if you cannot work while you are self-isolating because of coronavirus (COVID-19).</p>

      <div class="govuk-inset-text">
  This service is also available in <a href="https://www.gov.uk/anfon-eich-nodyn-ffitrwydd-ar-gyfer-eich-cais-esa">Welsh (Cymraeg)</a>.
      </div>

        <h2 class="govuk-heading-l">What is a fit note?</h2>

        <p>Doctors issue fit notes to people to provide evidence of the advice they have given about their fitness for work. This service can only accept fit notes, an example of a fit note can be seen in the below image.</p>

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                This service does not accept or process  med 10s, isolation notes or letters from medical professionals.
            </strong>
        </div>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Do you not have a fit note?
    </span>
            </summary>
            <div class="govuk-details__text">
            If you have evidence from a medical professional that you are unable to work, but it is not a fit note, it may be one of the following:
                <div class="govuk-!-padding-bottom-4"></div>
                <li><a href="#">Med 10</a></li>
                <li><a href="#">Isolation note</a></li>
                <li><a href="#">A letter from a medical professional</a></li>
                <div class="govuk-!-padding-bottom-4"></div>
                If you require a fit note, please arrange an appointment with your doctor.
            </div>
        </details>

        <!DOCTYPE html>
        <style>
                              .example-fit-note {max-width: 75%}
                              .example-fit-note {max-height: auto}
        </style>
        <center>
        <img src="/public/images/example-fit-note.png" class="example-fit-note" alt="image of an example fit note">
        </center>
        </html>

        <div class="govuk-!-padding-bottom-4"></div>

        <a href="/v5b-do-you-have-a-fit-note" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <h2 class="govuk-heading-m">Other ways to apply</h2>

      <p>You can post your fit note. If you need to send any other medical evidence, you must post it.</p>

      <p>Send your fit note or other medical evidence to:</p>

      <div class="govuk-inset-text">
  Freepost DWP ESA 26
</div>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Posting a fit note
    </span>
            </summary>
            <div class="govuk-details__text">
                Fit notes can be posted directly to ESA using the address <b>Freepost DWP ESA 26</b>. You do not need a postage stamp.
                <div class="govuk-!-padding-bottom-4"></div>
                <!DOCTYPE html>
                <style>
                              .freepost-letter {max-width: 40%}
                              .freepost-letter {max-height: auto}
                          </style>
                <img src="/public/images/freepost-letter.png" class="freepost-letter" alt="image of envelope with address">
                </html>
            </div>
        </details>

    </div>

    <div class="govuk-grid-column-one-third">

        <div class="govuk-inset-text">
            <h2 class="govuk-heading-m">Talk to an advisor</h2>
            <ul class="govuk-list">
                <li>Telephone: 0800 169 0310</li>
                <li>Textphone: 0800 169 0314</li>
                <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
            </ul>
            <p class="govuk-body">
                <a class="govuk-link" href="#">Find out about call charges</a>
            </p>

        </div>

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://www.gov.uk/employment-support-allowance">
                Employment and Support Allowance (ESA)
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/guidance/get-help-with-benefits-and-pensions-if-you-have-accessibility-needs">
                Get help with benefits and pensions if you have accessibility needs
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/browse/benefits/disability">
                Carers and disability benefits
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
