{% extends "layout.html" %}

{% block pageTitle %}
Question page
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="v8-address-email">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Do you want a text message to confirm your fit note has been received?
          </h1>
        </legend>
        <div id="contact-hint" class="govuk-hint">
          It can take up to 24 hours for you to receive text confirmation (Monday to Friday, 8am to 8pm).
        </div>
        <div class="govuk-!-padding-bottom-1"></div>
        <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="Yes"
              data-aria-controls="conditional-contact">
            <label class="govuk-label govuk-radios__label" for="contact">
              Yes
            </label>
          </div>
          <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
            <div class="govuk-form-group">
              <label class="govuk-label" for="contact-by-number">
                Your mobile number
              </label>
              <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone"
                aria-label="Your mobile number" type="text" spellcheck="false" value"{{ data['contact-by-phone'] }}">
            </div>

          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="No"
              data-aria-controls="conditional-contact-2">
            <label class="govuk-label govuk-radios__label" for="contact-2">
              No
            </label>
          </div>

        </div>

        <div class="govuk-!-padding-bottom-6"></div>
        <form class="form" action="/v8-check-your-answers-email" method="post">
          <button class="govuk-button" data-module="govuk-button">Continue</button>

      </fieldset>
    </div>

  </div>

  <div class="govuk-grid-column-one-third">

    <div class="govuk-inset-text">
      <h2 class="govuk-heading-m">Talk to an advisor</h2>
      <ul class="govuk-list">
        <li>Telephone: 0800 169 0310</li>
        <li>Textphone: 0800 169 0314</li>
        <li>Monday to Friday, 8am to 6pm (except public holidays)</li>
      </ul>
    </div>

  </div>

  {% endblock %}