{% extends "layout.html" %}

{% block pageTitle %}
Step by step navigation
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/get-a-photo.js"></script>
<script src="/public/javascripts/step-by-step-nav.js"></script>
<script type="text/javascript">
  var $element = $('#step-by-step-navigation')
  var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
  stepByStepNavigation.start($element)
</script>
{% endblock %}

{% block beforeContent %}
<a class="govuk-back-link" href="v8-three-options">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-body">
    <h1 class="govuk-heading-l">Save and upload your fit note</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <ol class="govuk-list govuk-list--number">
          <li>Take a photo of your fit note or scan it to your computer</li>
          <li>Make sure:
            <ul class="list">
              <li>you're in a well lit place</li>
              <li>all of your fit note is in the image</li>
            </ul>
          </li>
          <li>Save the photo or scan of your fit note somewhere you can easily find it on your computer</li>
        </ol>
        <p>Your photo or scan will be automatically checked to make sure it's good enough.</p>
        <p>
          <a href="/help-for-photo-step-1" class="govuk-link">Get more help to get your photo right</a>
        </p>
      </div>

      <div class="govuk-grid-column-one-half">
        <img src="/public/images/guideline-photo.jpg" class="guide" alt="Examples of good and bad photos of a fit note">
      </div>
    </div>
    <form action="/send-photo" method="post" enctype="multipart/form-data" id="formData" name="formData"
      data-form="takeAPhoto" autocomplete="off">
      <div class="govuk-form-group {{ 'error' if errors.photoOCR  or fileError }}">
        {% if errors.photoOCR %}
        <span class="gds-red govuk-!-font-weight-bold display-b">The selected file must be clear and readable,
          containing the whole fit note</span>
        {% endif %}
        {% if fileError === true %}
        <span class="gds-red govuk-!-font-weight-bold display-b">{{ errors.photo.message }}</span>
        {% endif %}
        <div class="govuk-form-group {% if errors.photo %}govuk-form-group--error{% endif %}">
          <label>
            <h2 class="govuk-heading-l">Choose a file to upload</h2>
          </label>
          {% if errors.photo %}
          {% for error, value in errors %}
          <span id="file-upload-1-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{value.message}}
          </span>
          {% endfor %}
          {% endif %}
          <input type="file" accept="image/*,application/pdf" id="userPhotoID" name="userPhoto"
            class="govuk-file-upload">
        </div>

        <div class="govuk-form-group" aria-hidden="true">
          <label for="imageNameID" aria-hidden="true">Leave blank</label>
          <input type="text" name="imageNameField" id="imageNameID" aria-hidden="true" value="" autofill="off">
        </div>

        <div id="js-loading-message" class="display-offscreen">
          <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
          <p>Uploading...</p>
        </div>
        <div id="js-submitButtonContainer" class="clearfix">
          <input type="submit" class="govuk-button" value="Continue" id="submitButton">
        </div>
      </div>
    </form>

  </div>


  <div class="govuk-grid-column-one-third">
    <div class="govuk-inset-text">
      <h2 class="govuk-heading-s">Talk to an advisor</h2>
      <p class="govuk-!-font-size-19">
        Telephone: 0800 169 0310<br>
        Textphone: 0800 169 0314<br>
        Monday to Friday, 8am to 6pm (except public holidays)
      </p>
    </div>
  </div>




  {% endblock %}