{% extends "layout.html" %}

{% block pageTitle %}
Dim ond nodyn ffitrwydd gall gael ei uwchlwytho a’i brosesu gan y gwasanaeth hwn
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-nav.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)
  </script>
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="welsh-dev-do-you-have-a-fit-note">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Dim ond nodyn ffitrwydd gall gael ei uwchlwytho a’i brosesu gan y gwasanaeth hwn</h1>

    <p class="govuk-body">
      Os nad nodyn ffitrwydd yw eich dogfen, gallai fod yn ffurf gwahanol o dystiolaeth feddygol fel llythyr meddygol, nodyn hunan-ynysu neu MED 10. </p>

    <p> Nid yw’r rhain yn nodiadau ffitrwydd ac ni ellir eu llwytho i’r gwasanaeth.</p>

<p>Os ydych angen nodyn ffitrwydd, cysylltwch â’ch meddyg neu feddygfa.</p>

      <!DOCTYPE html>
      <style>

            .not-accepted {max-width: 100%}
            .not-accepted {max-height: auto}
    </style>
      <img src="/public/images/not-accepted.png" class="not-accepted" alt="Examples of a medical letter, isolation note and a MED 10 form">
      </html>

    <div class="govuk-!-padding-bottom-3"></div>

    <h1 class="govuk-heading-m">Ble i anfon eich tystiolaeth feddygol</h1>
    <p class="govuk-body">Os oes gennych ffurf gwahanol o dystiolaeth feddygol, dylech ei phostio’n uniongyrchol i ESA drwy ddefnyddio’r cyfeiriad:</p>

    <div class="govuk-inset-text">
    <ul class="govuk-list">
      <li>Freepost DWP</li>
      <li>ESA 26</li>
    </ul>
    </div>

    <p class="govuk-body">Nid ydych angen stamp. Gwnewch yn siwr eich bod yn cadw copi o unrhyw dystiolaeth feddygol ar gyfer eich cofnodion chi.</p>

    <p><a href="/welsh-dev-start">Dychwelyd i’r dudalen cychwynnol</a></p>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="govuk-inset-text">
        <h2 class="govuk-heading-m">Siarad ag ymgynghorydd</h2>
        <ul class="govuk-list">
          <li>Ffôn: 0800 169 0310</li>
          <li>Ffôn testun: 0800 169 0314</li>
          <li>Dydd Llun i ddydd Gwener, 8am i 6pm (ag eithrio gwyliau cyhoeddus)</li>
        </ul>
      </div>
    </div>

</div>





    {% endblock %}
</div>