{% extends "layout.html" %}

{% block pageTitle %}
  Step by step navigation
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-nav.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)
  </script>
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="welsh-dev-do-you-have-a-fit-note">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Dim ond nodyn ffitrwydd gall gael ei uwchlwytho a’i brosesu gan y gwasanaeth hwn</h1>

    <p class="govuk-body">
      Os nad oes gennych nodyn ffitrwydd ac mae angen un arnoch, cysylltwch â’ch meddyg neu feddygfa. Mae’r canlynol yn enghreifftiau o lythyr meddygol, nodyn ynysu a MED 10, nid ydynt yn nodyn ffitrwydd ac ni allant gael eu uwchlwytho i’r gwasanaeth hwn.</p>

      <!DOCTYPE html>
      <style>

            .not-accepted {max-width: 100%}
            .not-accepted {max-height: auto}
    </style>
      <img src="/public/images/not-accepted.png" class="not-accepted" alt="Enghreifftiau o lythyr meddygol, nodyn ynysu a MED10">
      </html>

    <div class="govuk-!-padding-bottom-3"></div>
    <p>Fodd bynnag, gallwch bostio tystiolaeth feddygol arall, fel llythyr meddygol, nodyn ynysu neu MED 10 i Freepost DWP ESA 26. Sicrhewch fod gennych gopi neu gopi dyblyg o’ch tystiolaeth cyn anfon eich tystiolaeth.</p>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Sut i bostio tystiolaeth feddygol
    </span>
      </summary>
      <div class="govuk-details__text">
        Gall tystiolaeth feddygol gael ei bostio’n uniongyrchol i ESA gan ddefnyddio’r cyfeiriad Freepost DWP ESA 26. Nid oes angen stamp arnoch.
        <div class="govuk-!-padding-bottom-4"></div>
        <!DOCTYPE html>
        <style>
                              .freepost-letter {max-width: 40%}
                              .freepost-letter {max-height: auto}
                          </style>
        <img src="/public/images/freepost-letter.png" class="freepost-letter" alt="Amlen bost gyda'r cyfeiriad post">
        </html>
      </div>
    </details>


    <form class="form" action="/welsh-dev-start" method="post">
      <button class="govuk-button" data-module="govuk-button">Dychwelyd i’r dudalen cychwynnol</button></form>

  </div>

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-inset-text">
      <h2 class="govuk-heading-m">Siarad ag ymgynghorydd</h2>
      <ul class="govuk-list">
        <li>Ffôn: 0800 169 0310</li>
        <li>Ffôn testun: 0800 169 0314</li>
        <li>Dydd Llun i ddydd Gwener, 8am i 6pm (ag eithrio gwyliau cyhoeddus)</li>
      </ul>
    </div>
  </div>

</div>





    {% endblock %}
</div>