{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Nodyn ffitrwydd wedi’i anfon
        </h1>
        <div class="govuk-panel__body">
          Eich cyfeirnod yw eich rhif Yswiriant Gwladol
        </div>
      </div>

      <div class="govuk-!-padding-bottom-4"></div>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        Cadwch eich nodyn ffitrwydd yn ddiogel, peidiwch a’i daflu i ffwrdd.
      </p>
      <p class="govuk-body">
        Nid oes yn rhaid i chi gwneud unrhyw beth arall, na ffonio i wirio ei gynydd. Os oes broblem, bydd rhywun yn cysylltu â chi.
      </p>

      <p>Gall gymryd hyd at 24 awr i chi dderbyn cadarnhad trwy neges testun o anfon eich nodyn ffitrwydd (dydd Llun i ddydd Gwener, 8am i 8pm).</p>

      <p>Bydd angen i chi barhau anfon nodiadau ffitrwydd atom cyn belled â nad ydych yn ffit i weithio. Byddwn yn dweud wrthych pryd y gallwch roi’r gorau i’w hanfon. Er enghraifft, os yw’ch nodyn ffitrwydd am 14 diwrnod, bydd angen i chi anfon un arall atom pan fydd yn rhedeg allan.</p>

      <p><a href="https://www.gov.uk/done/send-fit-note">Beth yw eich barn am y wasanaeth hwn?</a> (yn cymryd 30 eiliad)</p>

      <p><a href="/index">Anfon nodyn ffitrwydd arall</a></p>

      </form>

    </div>


{% endblock %}
