{% extends "layout.html" %}

{% block pageTitle %}
  Step by step navigation
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-nav.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)
  </script>
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="welsh-dev-three-options">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Uwchlwytho eich nodyn ffitrwydd</h1>

    <div class="govuk-!-padding-bottom-2"></div>

    <ol class="govuk-list govuk-list--number">

      <li>Agorwch yr e-bost a anfonwyd atoch gan eich meddyg sy’n cynnwys eich nodyn ffitrwydd.</li>
      <div class="govuk-!-padding-bottom-3"></div>
      <li>Lawrlwythwch y nodyn ffitrwydd roedd wedi’i atodi i e-bost eich meddyg.
        <ul class="govuk-list govuk-list--bullet">
        </ul></li>
      <li>Uwchlwytho eich nodyn ffitrwydd.
        <ul class="govuk-list govuk-list--bullet">
          <li>o	efallai bod eich nodyn ffitrwydd wedi cael ei arbed ar eich dyfais mewn ffolder 'Downloads', 'Recents' neu 'Saved As'</li>
        </ul></li>
    </ol>

    <div class="govuk-!-padding-bottom-2"></div>
    <p>Bydd eich ffeil yn cael ei gwirio'n awtomatig i sicrhau bod yr ansawdd yn ddigon da.</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>mae’n rhaid i’r ffeil a ddewiswyd fod yn JPG, BMP, PNG, TIF neu PDF</li>
        <li>mae’n rhaid i’r ffeil a ddewiswyd fod yn llai na 10MB</li>
        <li>sicrhau bod pob un o 4 cornel y nodyn ffitrwydd yn cael eu cynnwys</li></ul>



    <h2 class="govuk-heading-l">Dewiswch ffeil i uwchlwytho</h2>
    <input class="govuk-file-upload" id="file-upload-1" name="file-upload-1" type="file">
    <div class="govuk-!-padding-bottom-6"></div>
    <form class="form" action="/welsh-dev-scanning-photo-email" method="post">
      <button class="govuk-button" data-module="govuk-button">Llwytho ffeil</button></form>

  </div>

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <div class="govuk-inset-text">
      <h3 class="govuk-heading-m">Siarad ag ymgynghorydd</h3>
      <ul class="govuk-list">
        <li>Ffôn: 0800 169 0310</li>
        <li>Ffôn testun: 0800 169 0314</li>
        <li>Dydd Llun i ddydd Gwener, 8am i 6pm (ag eithrio gwyliau cyhoeddus)</li>
      </ul>
    </div>
  </div>

</div>





    {% endblock %}
